doctype html
html(lang="en")
  head
    include includes/head.pug
    link(rel="stylesheet", href="/assets/css/dist/home.css")
  body 
    div.main
      img.ng-logo(src="https://cdn.nethergames.org/img/logo/double-line-light.png")
      h1 Winstreak Tracker
      a.btn.btn-glass(href="/start") Start tracking my winstreak