ul.sidebar
  li.sidebar-item.logo Winstreak Tracker
    i.las.la-times.mobile-close-btn
  .sidebar-nav
    li.sidebar-item
      a(href="/winstreaks")
        i.las.la-tachometer-alt
        | Home
    li.sidebar-item
      a(href="/start")
        i.las.la-user-plus
        | Track another player
    li.sidebar-item
      a(href="/discord" target="_blank")
        i.lab.la-discord
        | Support Discord
  li.sidebar-item.copyright Made by PiggyPlex
i.las.la-bars.mobile-menu-btn